Package: [[name]]
Version: [[version]]
Section: service
Priority: low
Architecture: all
Depends: oracle-java8-jdk, openssl
Description: [[description]]
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
